#main_title {
    text-align: "center";
    color: purple;
}

th,
td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    font-weight: bold;
}

.comment h6 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.profile_data {
    color: blueviolet;
}

.contaner {
    width: 640px;
}